<div class="game-menu">
  <h1>$ Pacman Game $</h1>
  <form #form="ngForm" (ngSubmit)="startGame()">
    <div class="form-group">
      <label for="size">Field Size</label>
      <input
        type="number"
        id="size"
        class="form-control"
        name="size"
        [(ngModel)]="size"
        required
        #nameField="ngModel"
      />

      <button
        type="button"
        class="btn btn-success"
        name="singleModel"
        (click)="startGame()"
        [routerLink]="['/game',{size}]"
      >
        Start Game
      </button>
    </div>
  </form>
</div>
