

<div class="container">
    <h2>User settings</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label> 
            <input type="text" id ="name" class="form-control"
             name="name" [(ngModel)]="userSettings.name" 
             required #nameField="ngModel"
             (blur)="onBlur(nameField)"
             [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
            Enter a name
        </div> 
           <div class="debug-prop">
             <p>dirty: {{nameField.dirty}}</p>
             <p>pristine: {{nameField.pristine}}</p>
             <p>touched: {{nameField.touched}}</p>
             <p>untouched: {{nameField.untouched}}</p>
             <p>valid: {{nameField.valid}}</p>  
             <p>invalid: {{nameField.invalid}}</p>
           </div>

           <div class="form-group">
            <label for="name">lastName</label> 
            <input type="text" id ="name" class="form-control"
             name="name" [(ngModel)]="userSettings.name" 
             required #nameField="ngModel"
             (blur)="onBlur(nameField)"
             [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
            Enter a last name
        </div> 
            <div class="form-check form-group">
                <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers"  [(ngModel)]="userSettings.emailOffers">
                <label class="form-check-label" for="emailOffers">
                  Email Special Offers
                </label>
            </div>
 
        <h6>User Interface Style</h6>
        <div class="form-group">
            <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="medium" value="medium" [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="medium"> Medium</label>
         </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="light" value="light" [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="light">Light</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="dark" value="dark" [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="dark">Dark</label>
          </div>
        </div>
          <div class="form-group">
            <label for="subscriptionType">
                Subscription Type
              </label>
                    <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
                        <option *ngFor="let type of subscriptionTypes | async">
                            {{type}}
                        </option>
                     </select>
            </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>
        
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" class="form-control" ngModel/>
        </div>

        <div [hidden]="!postError" class="alert alert-danger">
            {{postErrorMessage}}
        </div> 
      
        <button class="btn btn-dark">Send</button>
 
</div>    


{{userSettings | json}}
