<div class="card">

    <div class="card-header">
        {{pageTitle}}

    </div>
    <div class="card-body">
        <div class="row-filter">
            <p> Filter by: </p>
            <div class="input">
                <input type="text" [(ngModel)]="listFilter"/>
            </div>
            <div class="row">
                <h3>Filterde by: {{listFilter | uppercase}} </h3>
            </div>
        </div>
        <div class="table-container">
            <table class="table" *ngIf = 'products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn-show-image" (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show "}} Images
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Avaiable</th>
                        <th>Price</th>
                        <th>Stars</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let product of filteredProducts"> 
                        <td><img *ngIf="showImage"
                                [src]='product.imageURl' 
                                [title]='product.name'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'/></td>
                        <td>{{product.name}}</td>
                        <td>{{product.code | uppercase | convertToSpaces:'-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'EUR':'symbol':'1.2-2' | uppercase}}</td>
                        <td><pm-star [rating]="product.starRating"
                                     (ratingClicked)="onRatingClicked($event)"></pm-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>