<div class="toolbar" role="banner">
  <img
    width="90"
    alt="Deltatre Logo"
    src=".\assets\deltatre-logo.png"
  />
    <div class="spacer"></div>
    <a class="dashboard menu-item" routerLink="/dash" routerLinkActive="active">DASHBOARD</a>
<a class="prod menu-item" routerLink="/prod" routerLinkActive="active">PROD</a>
<a class="gold menu-item"routerLink="/gold" routerLinkActive="active">GOLD</a>
<a class="staging menu-item" routerLink="/staging" routerLinkActive="active">STAGING</a>
<a class="develop menu-item" routerLink="/develop" routerLinkActive="active">DEVELOP</a>
<a class="full menu-item" routerLink="/full" routerLinkActive="active">FULL LIST</a>
<a class="error menu-item" routerLink="/error" routerLinkActive="active">ERROR LIST</a>

</div>
